.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    font-family: 'Explora', cursive;
    font-family: 'Inter', sans-serif;
    font-family: 'Rubik', sans-serif;
}

header {
    width: 100%;
    margin: 0 auto;
    height: 300px;
    background-color: #13345B;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 100px;
}

ul {
    font-size: 2.25rem;
    color: #FDD504;
    display: flex;
    gap: 52px;
}

li {
    cursor: pointer;
}

li:hover {
    border-bottom: 3px solid #FDD504;
}

.kits_div {
    font-size: 2.25rem;
    color: #FDD504;
    gap: 35px;
}

main {
    width: 100%;
    margin: 0 auto;
}

h1 {
    font-size: 3rem;
    color: #13345B;
    display: flex;
    justify-content: center;
    padding-top: 59px;
}